.navbar-brand {
  @extend %loose-caps;
  @extend .font-family-accent;

  .navbar-dark & {
    color: desaturate(lighten($primary, 25%), 15%);
  }
}

.dropdown {
  &:hover .dropdown-menu {
    display: block;
    margin-top: 0;
  }

  &-menu {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    min-width: unset;
    border: 0;
    text-align: left;
    background: repeat-x url(../images/patterns/dot-line-border.svg) top 2px center / 6px,
                repeat-x url(../images/patterns/dot-line-border-bottom.svg) bottom 2px center / 6px,
                lighten($dark, 7.5%);
  }
}