html {
  font-size: 20px;
}

svg {
  vertical-align: text-bottom;
}

.text-uppercase {
  letter-spacing: 0.05em;
}

.font-family-accent {
  font-family: $font-family-accent;
  font-weight: 300;
}

loose-caps {
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

h1, .pullquote {
  @extend .font-family-accent;
}

h2 {
  margin-top: 1em;
  @extend loose-caps;
  @extend .font-family-accent;
}

@supports (background-clip: text) or (-webkit-background-clip: text) {
  h1, h2, .pullquote {
    background-image: url(../images/patterns/fresh-snow.png);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }

  h1, .pullquote {
    background-color: $earthenware;
  }

  h2 {
    background-color: $dark;
  }
}

.pullquote {
  font-size: 2.75em;
  line-height: 1.2;

  cite {
    @extend loose-caps;
    font-style: normal;
    font-size: 0.65em;
    display: block;
    margin-top: 0.5em;
  }
}