$terracotta:  #b3603e;
$earthenware: #825648;
$light:       #f5f1f1;
$dark:        #3e3532;
$oribe:       #86b796;

$colors: ();
// stylelint-disable-next-line scss/dollar-variable-default
$colors: map-merge(
  (
    "terracotta":  $terracotta,
    "earthenware": $earthenware,
    "light":       $light,
    "dark":        $dark,
    "oribe":       $oribe
  ),
  $colors
);

$primary:                      $terracotta;
$info:                         $oribe;
$code-color:                   $oribe;

$font-family-accent:           "Brixton Sans TC", Optima, sans-serif;
$font-family-serif:            "Addington CF", Baskerville, serif;

$font-family-base:             $font-family-serif;
$enable-responsive-font-sizes: true;

$font-weight-light:            300;
$font-weight-normal:           300;
$font-weight-bold:             600;
$font-weight-bolder:           $font-weight-bold;

$dt-font-weight:               $font-weight-normal;

$h2-font-size:                 1.75rem;
$h3-font-size:                 1.5rem;

$spacer:                       15px;

$caret-vertical-align:         0.175em;
$dropdown-link-color:          rgba(white, .5);
$dropdown-item-padding-x:      $spacer;
$dropdown-padding-y:           $spacer / 2;
$dropdown-link-hover-bg:       lighten($dark, 20%);
$dropdown-link-hover-color:    #fff;
