@font-face {
  font-family: "Addington CF";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("Addington CF"),
    url(https://fonts.northxsouth.co/addingtoncf/300.woff) format("woff"),
    url(https://fonts.northxsouth.co/addingtoncf/300.woff2) format("woff2");
}

@font-face {
  font-family: "Addington CF";
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: local("Addington CF Italic"),
    url(https://fonts.northxsouth.co/addingtoncf/300i.woff) format("woff"),
    url(https://fonts.northxsouth.co/addingtoncf/300i.woff2) format("woff2");
}

@font-face {
  font-family: "Addington CF";
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: local("Addington CF"),
    url(https://fonts.northxsouth.co/addingtoncf/600.woff) format("woff"),
    url(https://fonts.northxsouth.co/addingtoncf/600.woff2) format("woff2");
}
