@font-face {
  font-family: "Brixton Sans TC";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("Brixton Sans"), local("Brixton Sans TC"),
    url(https://fonts.northxsouth.co/brixtonsanstc/300.woff) format("woff"),
    url(https://fonts.northxsouth.co/brixtonsanstc/300.woff2) format("woff2");
}
